Repository GrabTable/GrabTable, pull requests merged in 2024-07, with the labels that each got.

#127 Fix(fe): 개인 주문 결제 시도 시 금액을 정상적으로 요청 처리
  frontend/grabtable/src/components/UserOrderList.tsx
Labels: bug, frontend

#125 Feature(be): JPA 쿼리 횟수 로깅 추가
  backend/grabtable/build.gradle
  backend/grabtable/src/main/java/edu/skku/grabtable/common/config/HibernateConfig.java
  backend/grabtable/src/main/java/edu/skku/grabtable/common/config/WebConfig.java
  backend/grabtable/src/main/java/edu/skku/grabtable/common/inspector/QueryCountInspector.java
  backend/grabtable/src/main/java/edu/skku/grabtable/common/interceptor/QueryLoggingInterceptor.java
  backend/grabtable/src/test/java/edu/skku/grabtable/common/ControllerTest.java
  backend/grabtable/src/test/java/edu/skku/grabtable/common/inspector/QueryCountInspectorTest.java
  backend/grabtable/src/test/java/edu/skku/grabtable/common/interceptor/QueryLoggingInterceptorTest.java
Labels: enhancement, backend

#130 Docs: 프로젝트 소개 리드미 작성
  README.md
  frontend/grabtable/public/grabtable-logo.png
  frontend/grabtable/public/service-architecture.png
  frontend/grabtable/public/tech-stack.png
Labels: documentation

#135 Fix(fe): 장바구니 추가 시 에러 팝업 나타나는 현상 제거
  frontend/grabtable/src/app/reservation/MyReservation.tsx
Labels: bug, frontend

#136 FEAT(be): Reservation 조회 쿼리 최적화
  backend/grabtable/src/main/java/edu/skku/grabtable/order/repository/OrderRepository.java
  backend/grabtable/src/main/java/edu/skku/grabtable/reservation/repository/ReservationRepository.java
  backend/grabtable/src/main/java/edu/skku/grabtable/reservation/service/ReservationService.java
Labels: backend

#143 Refactor(fe&be): 클라이언트 API 호출 로직 분리 & SSE emitter 저장 로직 분리
  backend/grabtable/src/main/java/edu/skku/grabtable/reservation/service/ReservationService.java
  backend/grabtable/src/main/java/edu/skku/grabtable/sse/repository/SseEmitterInMemoryRepository.java
  backend/grabtable/src/test/java/edu/skku/grabtable/sse/repository/SseEmitterInMemoryRepositoryTest.java
  frontend/grabtable/src/app/mypage/page.tsx
  frontend/grabtable/src/app/reservation/MyReservation.tsx
  frontend/grabtable/src/app/reservation/NoReservation.tsx
  frontend/grabtable/src/app/reservation/page.tsx
  frontend/grabtable/src/app/reservation/payment/page.tsx
  frontend/grabtable/src/app/restaurants/[id]/page.tsx
  frontend/grabtable/src/app/restaurants/page.tsx
  frontend/grabtable/src/components/CustomAvator.tsx
  frontend/grabtable/src/components/MenuCard.tsx
  frontend/grabtable/src/components/MenuTable.tsx
  frontend/grabtable/src/components/OrderCard.tsx
  frontend/grabtable/src/components/RestaurantCard.tsx
  frontend/grabtable/src/components/SharedCartTable.tsx
  frontend/grabtable/src/components/UserOrderList.tsx
  frontend/grabtable/src/components/UserOrderTable.tsx
  frontend/grabtable/src/components/UserSharedOrderList.tsx
  frontend/grabtable/src/components/kakaoMap.tsx
  frontend/grabtable/src/lib/api/deleteCart.ts
  frontend/grabtable/src/lib/api/deleteCartInSharedOrder.ts
  frontend/grabtable/src/lib/api/fetchCart.ts
  frontend/grabtable/src/lib/api/getMyCart.ts
  frontend/grabtable/src/lib/api/getMyInfo.ts
  frontend/grabtable/src/lib/api/getMyReservation.ts
  frontend/grabtable/src/lib/api/getStoreDetail.ts
  frontend/grabtable/src/lib/api/getStoreMenus.ts
  frontend/grabtable/src/lib/api/getStoreReviews.ts
  frontend/grabtable/src/lib/api/getStores.ts
  frontend/grabtable/src/lib/api/patchCartInSharedOrder.ts
  frontend/grabtable/src/lib/api/postAddCart.ts
  frontend/grabtable/src/lib/api/postAddCartInSharedOrder.ts
  frontend/grabtable/src/lib/api/postConfirmReservation.ts
  frontend/grabtable/src/lib/api/postCreateReservation.ts
  frontend/grabtable/src/lib/api/postJoinReservation.ts
  frontend/grabtable/src/lib/api/postOrder.ts
  frontend/grabtable/src/lib/api/postSharedOrder.ts
  frontend/grabtable/src/lib/types/cart.ts
  frontend/grabtable/src/lib/types/cartItem.ts
  frontend/grabtable/src/lib/types/category.ts
  frontend/grabtable/src/lib/types/menu.ts
  frontend/grabtable/src/lib/types/order.ts
  frontend/grabtable/src/lib/types/reservation.ts
  frontend/grabtable/src/lib/types/restaurant.ts
  frontend/grabtable/src/lib/types/review.ts
  frontend/grabtable/src/lib/types/sharedOrder.ts
  frontend/grabtable/src/lib/types/store.ts
  frontend/grabtable/src/lib/types/user.ts
  frontend/grabtable/src/lib/types/userCartsInfo.ts
Labels: enhancement, frontend, backend

#141 FEAT(be): Review 조회 페이지네이션 구현
  backend/grabtable/build.gradle
  backend/grabtable/src/main/java/edu/skku/grabtable/common/config/QuerydslConfig.java
  backend/grabtable/src/main/java/edu/skku/grabtable/common/domain/response/SliceResponse.java
  backend/grabtable/src/main/java/edu/skku/grabtable/review/controller/ReviewController.java
  backend/grabtable/src/main/java/edu/skku/grabtable/review/infrastructure/ReviewRepositoryCustom.java
  backend/grabtable/src/main/java/edu/skku/grabtable/review/infrastructure/ReviewRepositoryImpl.java
  backend/grabtable/src/main/java/edu/skku/grabtable/review/repository/ReviewRepository.java
  backend/grabtable/src/main/java/edu/skku/grabtable/review/service/ReviewService.java
  backend/grabtable/src/test/java/edu/skku/grabtable/integration/ReviewIntegrationTest.java
  backend/grabtable/src/test/java/edu/skku/grabtable/review/controller/ReviewControllerTest.java
  backend/grabtable/src/test/java/edu/skku/grabtable/review/service/ReviewServiceTest.java
Labels: backend

#148 Docs(be): 프로젝트 설명 오류 수정
  README.md
Labels: documentation

#151 Fix(be,fe): SSE 종료 이벤트 추가
  backend/grabtable/src/main/java/edu/skku/grabtable/common/exception/ExceptionCode.java
  backend/grabtable/src/main/java/edu/skku/grabtable/reservation/aop/ReservationAspect.java
  backend/grabtable/src/main/java/edu/skku/grabtable/reservation/domain/event/ReservationFinishEvent.java
  backend/grabtable/src/main/java/edu/skku/grabtable/reservation/domain/event/ReservationUpdateEvent.java
  backend/grabtable/src/main/java/edu/skku/grabtable/reservation/repository/ReservationRepository.java
  backend/grabtable/src/main/java/edu/skku/grabtable/reservation/service/ReservationService.java
  backend/grabtable/src/main/java/edu/skku/grabtable/sse/repository/SseEmitterInMemoryRepository.java
  backend/grabtable/src/test/java/edu/skku/grabtable/integration/ReservationIntegrationTest.java
  backend/grabtable/src/test/java/edu/skku/grabtable/sse/repository/SseEmitterInMemoryRepositoryTest.java
  frontend/grabtable/src/app/reservation/MyReservation.tsx
  frontend/grabtable/src/app/reservation/page.tsx
  frontend/grabtable/src/app/restaurants/[id]/page.tsx
  frontend/grabtable/src/components/OrderCard.tsx
Labels: backend
