Repository GrabTable/GrabTable, pull requests merged in 2024-04, with the labels that each got.

#8 Feat : 외부 서비스 리뷰 Fetcher
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/pull_request_template.md
  backend/grabtable/src/main/resources/application.yml
  backend/grabtable/src/main/resources/data.sql
  backend/grabtable/src/test/resources/data/reviews.sql
  backend/grabtable/src/test/resources/data/stores.sql
  crawler/.gitignore
  crawler/crawl.py
  crawler/requirement.txt
Labels: enhancement

#16 Feat(fe): Footer 구현
  frontend/grabtable/package-lock.json
  frontend/grabtable/package.json
  frontend/grabtable/src/app/globals.css
  frontend/grabtable/src/app/layout.tsx
  frontend/grabtable/src/components/Footer.tsx
  frontend/grabtable/src/components/footer.tsx
  frontend/grabtable/tailwind.config.ts
Labels: frontend

#32 Feat(be): 결제 모듈 구현
  backend/grabtable/build.gradle
  backend/grabtable/src/main/java/edu/skku/grabtable/payment/PaymentConfig.java
  backend/grabtable/src/main/java/edu/skku/grabtable/payment/controller/PaymentController.java
  backend/grabtable/src/main/java/edu/skku/grabtable/payment/domain/Bill.java
  backend/grabtable/src/main/java/edu/skku/grabtable/payment/domain/request/PaymentRequestDto.java
  backend/grabtable/src/main/java/edu/skku/grabtable/payment/domain/response/BillResponse.java
  backend/grabtable/src/main/java/edu/skku/grabtable/payment/repository/BillRepository.java
  backend/grabtable/src/main/java/edu/skku/grabtable/payment/service/PaymentService.java
  backend/grabtable/src/test/java/edu/skku/grabtable/payment/controller/PaymentControllerTest.java
Labels: backend

#35 Feat(be): 예약 관련 로직 구현
  backend/grabtable/src/docs/asciidoc/index.adoc
  backend/grabtable/src/docs/asciidoc/reservation-controller-test.adoc
  backend/grabtable/src/main/java/edu/skku/grabtable/common/exception/ExceptionCode.java
  backend/grabtable/src/main/java/edu/skku/grabtable/domain/Order.java
  backend/grabtable/src/main/java/edu/skku/grabtable/domain/Reservation.java
  backend/grabtable/src/main/java/edu/skku/grabtable/domain/ReservationStatus.java
  backend/grabtable/src/main/java/edu/skku/grabtable/domain/User.java
  backend/grabtable/src/main/java/edu/skku/grabtable/repository/ReservationRepository.java
  backend/grabtable/src/main/java/edu/skku/grabtable/repository/UserRepository.java
  backend/grabtable/src/main/java/edu/skku/grabtable/reservation/controller/ReservationController.java
  backend/grabtable/src/main/java/edu/skku/grabtable/reservation/domain/Reservation.java
  backend/grabtable/src/main/java/edu/skku/grabtable/reservation/domain/ReservationStatus.java
  backend/grabtable/src/main/java/edu/skku/grabtable/reservation/domain/request/ReservationRequest.java
  backend/grabtable/src/main/java/edu/skku/grabtable/reservation/domain/response/CartResponse.java
  backend/grabtable/src/main/java/edu/skku/grabtable/reservation/domain/response/OrderResponse.java
  backend/grabtable/src/main/java/edu/skku/grabtable/reservation/domain/response/ReservationDetailResponse.java
  backend/grabtable/src/main/java/edu/skku/grabtable/reservation/domain/response/SharedOrderResponse.java
  backend/grabtable/src/main/java/edu/skku/grabtable/reservation/domain/response/UserInfoResponse.java
  backend/grabtable/src/main/java/edu/skku/grabtable/reservation/repository/ReservationRepository.java
  backend/grabtable/src/main/java/edu/skku/grabtable/reservation/service/ReservationService.java
  backend/grabtable/src/test/java/edu/skku/grabtable/reservation/controller/ReservationControllerTest.java
  backend/grabtable/src/test/java/edu/skku/grabtable/reservation/service/ReservationServiceTest.java
Labels: backend

#38 Feat(be): 장바구니 모듈 구현
  backend/grabtable/src/docs/asciidoc/cart-controller-test.adoc
  backend/grabtable/src/docs/asciidoc/index.adoc
  backend/grabtable/src/main/java/edu/skku/grabtable/cart/controller/CartController.java
  backend/grabtable/src/main/java/edu/skku/grabtable/cart/domain/Cart.java
  backend/grabtable/src/main/java/edu/skku/grabtable/cart/domain/request/CartRequest.java
  backend/grabtable/src/main/java/edu/skku/grabtable/cart/repository/CartRepository.java
  backend/grabtable/src/main/java/edu/skku/grabtable/cart/service/CartService.java
  backend/grabtable/src/main/java/edu/skku/grabtable/domain/Cart.java
  backend/grabtable/src/main/java/edu/skku/grabtable/domain/Order.java
  backend/grabtable/src/main/java/edu/skku/grabtable/domain/User.java
  backend/grabtable/src/main/java/edu/skku/grabtable/repository/CartRepository.java
  backend/grabtable/src/main/java/edu/skku/grabtable/store/domain/Menu.java
  backend/grabtable/src/test/java/edu/skku/grabtable/cart/controller/CartControllerTest.java
  backend/grabtable/src/test/java/edu/skku/grabtable/cart/service/CartServiceTest.java
  backend/grabtable/src/test/resources/data/menus.sql
Labels: backend

#42 Hotfix(be): 주문 기능 및 실패 테스트 수정
  backend/grabtable/src/docs/asciidoc/index.adoc
  backend/grabtable/src/docs/asciidoc/order-controller-test.adoc
  backend/grabtable/src/main/java/edu/skku/grabtable/auth/AuthUserArgumentResolver.java
  backend/grabtable/src/main/java/edu/skku/grabtable/auth/service/LoginService.java
  backend/grabtable/src/main/java/edu/skku/grabtable/cart/controller/CartController.java
  backend/grabtable/src/main/java/edu/skku/grabtable/cart/domain/Cart.java
  backend/grabtable/src/main/java/edu/skku/grabtable/cart/domain/response/CartResponse.java
  backend/grabtable/src/main/java/edu/skku/grabtable/cart/service/CartService.java
  backend/grabtable/src/main/java/edu/skku/grabtable/common/domain/BaseTimeEntity.java
  backend/grabtable/src/main/java/edu/skku/grabtable/common/exception/ExceptionCode.java
  backend/grabtable/src/main/java/edu/skku/grabtable/domain/Order.java
  backend/grabtable/src/main/java/edu/skku/grabtable/domain/OrderType.java
  backend/grabtable/src/main/java/edu/skku/grabtable/domain/request/SignupRequest.java
  backend/grabtable/src/main/java/edu/skku/grabtable/order/controller/OrderController.java
  backend/grabtable/src/main/java/edu/skku/grabtable/order/domain/Order.java
  backend/grabtable/src/main/java/edu/skku/grabtable/order/domain/OrderStatus.java
  backend/grabtable/src/main/java/edu/skku/grabtable/order/domain/SharedOrder.java
  backend/grabtable/src/main/java/edu/skku/grabtable/order/domain/response/OrderResponse.java
  backend/grabtable/src/main/java/edu/skku/grabtable/order/domain/response/SharedOrderResponse.java
  backend/grabtable/src/main/java/edu/skku/grabtable/order/repository/OrderRepository.java
  backend/grabtable/src/main/java/edu/skku/grabtable/order/service/OrderService.java
  backend/grabtable/src/main/java/edu/skku/grabtable/repository/OrderRepository.java
  backend/grabtable/src/main/java/edu/skku/grabtable/reservation/controller/ReservationController.java
  backend/grabtable/src/main/java/edu/skku/grabtable/reservation/domain/Reservation.java
  backend/grabtable/src/main/java/edu/skku/grabtable/reservation/domain/response/CartResponse.java
  backend/grabtable/src/main/java/edu/skku/grabtable/reservation/domain/response/OrderResponse.java
  backend/grabtable/src/main/java/edu/skku/grabtable/reservation/domain/response/ReservationDetailResponse.java
  backend/grabtable/src/main/java/edu/skku/grabtable/reservation/service/ReservationService.java
  backend/grabtable/src/main/java/edu/skku/grabtable/review/domain/Review.java
  backend/grabtable/src/main/java/edu/skku/grabtable/review/service/ReviewService.java
  backend/grabtable/src/main/java/edu/skku/grabtable/store/domain/Menu.java
  backend/grabtable/src/main/java/edu/skku/grabtable/store/domain/Store.java
  backend/grabtable/src/main/java/edu/skku/grabtable/user/domain/User.java
  backend/grabtable/src/main/java/edu/skku/grabtable/user/repository/UserRepository.java
  backend/grabtable/src/main/java/edu/skku/grabtable/user/service/UserService.java
  backend/grabtable/src/test/java/edu/skku/grabtable/cart/controller/CartControllerTest.java
  backend/grabtable/src/test/java/edu/skku/grabtable/cart/service/CartServiceTest.java
  backend/grabtable/src/test/java/edu/skku/grabtable/domain/UserTest.java
  backend/grabtable/src/test/java/edu/skku/grabtable/integration/ReviewIntegrationTest.java
  backend/grabtable/src/test/java/edu/skku/grabtable/order/controller/OrderControllerTest.java
  backend/grabtable/src/test/java/edu/skku/grabtable/order/service/OrderServiceTest.java
  backend/grabtable/src/test/java/edu/skku/grabtable/reservation/service/ReservationServiceTest.java
  backend/grabtable/src/test/java/edu/skku/grabtable/review/service/ReviewServiceTest.java
Labels: backend

#44 refactor(be): payment 모듈을 order 모듈과 통합
  backend/grabtable/src/main/java/edu/skku/grabtable/common/exception/ExceptionCode.java
  backend/grabtable/src/main/java/edu/skku/grabtable/order/config/PaymentConfig.java
  backend/grabtable/src/main/java/edu/skku/grabtable/order/controller/OrderController.java
  backend/grabtable/src/main/java/edu/skku/grabtable/order/domain/Bill.java
  backend/grabtable/src/main/java/edu/skku/grabtable/order/domain/request/PaymentRequest.java
  backend/grabtable/src/main/java/edu/skku/grabtable/order/domain/response/BillResponse.java
  backend/grabtable/src/main/java/edu/skku/grabtable/order/infrastructure/PaymentValidator.java
  backend/grabtable/src/main/java/edu/skku/grabtable/order/repository/BillRepository.java
  backend/grabtable/src/main/java/edu/skku/grabtable/order/service/OrderService.java
  backend/grabtable/src/main/java/edu/skku/grabtable/payment/controller/PaymentController.java
  backend/grabtable/src/main/java/edu/skku/grabtable/payment/domain/request/PaymentRequestDto.java
  backend/grabtable/src/main/java/edu/skku/grabtable/payment/service/PaymentService.java
  backend/grabtable/src/test/java/edu/skku/grabtable/order/controller/OrderControllerTest.java
  backend/grabtable/src/test/java/edu/skku/grabtable/order/service/OrderServiceTest.java
  backend/grabtable/src/test/java/edu/skku/grabtable/payment/controller/PaymentControllerTest.java
Labels: backend

#46 Feat(be): 유저 모듈 작성
  backend/grabtable/src/docs/asciidoc/index.adoc
  backend/grabtable/src/docs/asciidoc/user-controller-test.adoc
  backend/grabtable/src/main/java/edu/skku/grabtable/cart/domain/Cart.java
  backend/grabtable/src/main/java/edu/skku/grabtable/user/controller/UserController.java
  backend/grabtable/src/main/java/edu/skku/grabtable/user/domain/request/UserUpdateRequest.java
  backend/grabtable/src/main/java/edu/skku/grabtable/user/domain/response/UserDetailResponse.java
  backend/grabtable/src/main/java/edu/skku/grabtable/user/repository/UserRepository.java
  backend/grabtable/src/test/java/edu/skku/grabtable/common/ControllerTest.java
  backend/grabtable/src/test/java/edu/skku/grabtable/user/controller/UserControllerTest.java
Labels: backend

#48 Hotfix(be): 예외 상태코드 변경 & 예약 생성 오류 수정
  backend/grabtable/src/main/java/edu/skku/grabtable/common/exception/GlobalExceptionHandler.java
  backend/grabtable/src/main/java/edu/skku/grabtable/reservation/controller/ReservationController.java
  backend/grabtable/src/main/java/edu/skku/grabtable/reservation/domain/request/ReservationRequest.java
  backend/grabtable/src/test/java/edu/skku/grabtable/reservation/controller/ReservationControllerTest.java
Labels: backend
